#Background1{
  background-image: url("background2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#Background2{
  background-image: url("image\ 1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.Navbar {
    background-color: rgb(173, 131, 244);
    overflow: hidden;
    text-align: center;
    list-style: none;
  }

html,body{
  width:100%;
  height:100%;
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
  header {
text-align: center;
background-color: #dc1780;
color: white;
padding:50px;
  }

#MQ {
font-size: 58px;
margin-bottom: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header2 {
  text-align: center;
  background-color: #dc1780;
  color: white;
  padding:40px;
    }
  #MQ2 {
  font-size: 58px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .Navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
  }

  
  .Navbar a:hover {
    background-color: rgba(123, 186, 241, 0.942);
    color: black;
  }
  

  .Navbar a.active {
    background-color: #dc1780;
    color: white;
  }

  
*{
    margin: 0;
    padding: 0;
}

html, body {
height: 100%;
}

#container{
    min-height: 100% ;
}

#main{
    overflow: auto;
    padding-bottom: 100px;
}

#footer{
    background-color: rgb(77, 115, 240);
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
}
/*this is thr rule div container and styles */
.container{
background-color: rgba(127, 255, 246, 0.762);
width: 70%;
margin: 0 auto; 
max-width: 1000px;
font-size: 50px;
border-radius: 3%;
border-color: black;
}

.booknot{
font-family: Arial, Helvetica, sans-serif;
 font-size: 40px;
  }

  #Notes{
    margin: auto;
  }
/*this is thr rule div containerstyles end*/
#footer{
  text-align: center;
  font-style: oblique;
  color: #f2f2f2;
  font-size: 25px;
}